extends ../../layouts/default.pug 
include ../../mixins/alert.pug

include ../../mixins/select-tree.pug

block main 
    +alert-error(5000)
    +alert-success(5000)
    
    h1(class="mb-4") Thêm mới sản phẩm 
    
    form(
        action=`${prefixAdmin}/blog/edit/${data.id}?_method=PATCH`
        id="form-edit-blog"
        method="POST"
        enctype="multipart/form-data"
    )
        div(class="form-group")
            label(for="title") Tiêu đề
            input(
                type="text"
                class="form-control"
                id="title"
                name="title"
                required
                value=data.title
                )
        div(
            class="form-group"
            upload-image
        )
            label(for="thumbnail") Ảnh bìa
            input(
                type="file"
                class="form-control-file"
                id="thumbnail"
                name="thumbnail"
                accept="image/*"
                upload-image-input
            )
        div(class="form-group form-check form-check-inline")
            input(
                type="radio"
                class="form-check-input"
                id="featured1"
                name="featured"
                value="1"
                checked = (data.featured == "1"? true : false)
                )
            label(for="featured1" class="form-check-label") Nổi bật
        div(class="form-group form-check form-check-inline")
            input(
                type="radio"
                class="form-check-input"
                id="featured0"
                name="featured"
                value="0"
                checked = (data.featured == "0"? true : false)
                )
            label(for="featured0" class="form-check-label") Không

        div(class="form-group")
            label(for="desc") Nội dung
            textarea(
                class="form-control"
                id="desc"
                name="description"
                rows="5"
                value=data.description
                ) #{data.description}
        
        div(class="form-group")
            label(for="position") Vị trí
            input(
                type="number"
                class="form-control"
                id="position"
                name="position"
                placeholder="Tự động tăng"
                min="1"
                value=data.position
                )
        div(class="form-group form-check form-check-inline")
            input(
                type="radio"
                class="form-check-input"
                id="statusActive"
                name="status"
                value="active"
                checked = (data.status == "active"? true : false)
                )
            label(for="statusActive" class="form-check-label") Hoạt động
        div(class="form-group form-check form-check-inline")
            input(
                type="radio"
                class="form-check-input"
                id="statusInActive"
                name="status"
                value="inactive"
                checked = (data.status == "inactive"? true : false)
                )
            label(for="statusInActive" class="form-check-label") Dừng hoạt động
        div(class="form-group")
            button(
                type="submit"
                class="btn btn-primary"
            ) Chỉnh sửa
            a(
                href=`${prefixAdmin}/blog`
                class="btn btn-danger back-button"
            ) Quay về

    script(src="/admin/js/product.js")
